.home-page {
.tile {
    height: 120px;
    width: 40%;
    padding: 20px;
    margin: 25px 40px;
    text-align: center;
    border: 1px solid #86d4e8;
    border-radius: 5px;
    background-color: #86d4e8;
    color: white;
    font-size: 20px;
    line-height: 80px;
    display: inline-block;
}
}